.index {
    background-color: #1E1E1E;
    color: #FFFFFF;
    padding-bottom: 1rem;
}

.indexContent {
    margin-top: 6rem;
    margin-bottom: 7rem;
}

.indexContent h1 {
    font-size: 50px;
}

.indexContent h2 {
    font-size: 30px;
}

.btn {
    background-color: #FFFFFF;
    color: #1E1E1E !important;
    margin: 1rem;
    margin-left: 0;
}

@media only screen and (max-width: 524px) {
    .btnEntrar {
        background-color: #FFFFFF;
        color: #1E1E1E !important;
        margin: 0rem;
    }
}

@media only screen and (min-width: 525px) {
    .btnEntrar {
        background-color: #FFFFFF;
        color: #1E1E1E !important;
        margin: 1rem;
    }
}

.btn_hover_0:hover {
    background-color: #2D2D2D;
    color: #FFFFFF !important;
}

.btn_hover_1:hover {
    background-color: #1f1f1f;
    color: #FFFFFF !important;
}

.cardLoginHeader {
    background-color: #1f1f1f;
    color: #FFFFFF;
    min-height: 3rem;
    max-height: 5rem;
    padding: 0.1rem;
    margin-bottom: 1rem;
}

.cardLogin {
    background-color: #2D2D2D;
    color: #FFFFFF;
    min-width: 15rem;
    min-height: 10.5rem;
    justify-content: end;
}

.card {
    background-color: #2D2D2D;
    color: #FFFFFF;
    min-width: 15rem;
    min-height: 10.5rem;
}

.cardPrice {
    background-color: #2D2D2D;
    color: #FFFFFF;
    text-align: center;
    min-width: 15rem;
    min-height: 20.1rem;
}

.footer {
    position: absolute;
    bottom: -5rem;
    padding: 1vh;
    height: 5rem;
    width: 100%;
    background-color: #2D2D2D;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
}